---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
import Tools from '../components/Tools.astro'
import Alquivago from '../components/Alquivago.astro';
import Resume from '../components/Resume.astro';
import Sakuga from '../components/Sakuga.astro';
import Learning from '../components/Learning.astro';
import Footer from '../components/Footer.astro';
const frontTools = ["next-js.svg", "react.svg", "Tailwind.svg", "js.svg"]
const backTools = ["node.svg", "docker.svg", "mongo.svg", "flask.svg", "githubTool.svg"]
import { getI18N } from '../i18n';
const currentLocale = Astro.currentLocale
const data = getI18N(currentLocale)
---

<Layout title={data.TITLE} description={data.DESCRIPTION} language={data.LANGUAGE}>
	<main class="grid grid-cols-1 md:grid-cols-4 h-max md:w-5/6 w-full mx-auto grid-rows-8 gap-5 mb-5">
		<Header subtitle={data.SUBTITLE}></Header>
		<Projects projectsList={data.PROJECTS} headerProjects={data.PROJECTS_TITLE}></Projects>
				<!-- Estos dos componentes pueden ser modularizados -->
				<Tools tools={frontTools} direction={["+100%", "-100%"]}/>
				<Tools tools={backTools} direction={["-100%", "+100%"]}/>
	<Resume resume={data.RESUME}/>
	<Learning tools={data.LEARNING}/>
	<Alquivago link={data.ALQUIVAGO}/>
		<Sakuga link={data.SAKUGA}/>
	</main>
	<Footer/>
</Layout>
