---
import SingleProject from "./SingleProject.astro"
interface Props {
  projectsList: {
        title: string;
        date: string;
        description: string;
        link: string;
        tools: string[];
  }[],
  headerProjects: string
}
const { projectsList, headerProjects } = Astro.props
---
<section class="col-span-1 row-start-3 mx-auto row-span-6 box-border flex flex-col justify-center gap-10 bg-santa-fe-400 rounded-2xl shadow-md shadow-santa-fe-700 overflow-clip">
  <h3 class="text-center font-bold text-mongoose-100 text-2xl">{headerProjects}</h3>
  <SingleProject 
  title={projectsList[0].title}
  date={projectsList[0].date}
  description={projectsList[0].description}
  link="https://alquivago.vercel.app"
  tools={projectsList[0].tools}
   />
   <SingleProject 
   title={projectsList[1].title}
   date={projectsList[1].date}
   description={projectsList[1].description}
   link="https://alquivago.vercel.app"
   tools={projectsList[1].tools}
    />
    <SingleProject 
    title={projectsList[2].title}
    date={projectsList[2].date}
    description={projectsList[2].description}
    link="https://alquivago.vercel.app"
    tools={projectsList[2].tools}
     />
     <SingleProject 
     title={projectsList[3].title}
     date={projectsList[3].date}
     description={projectsList[3].description}
     link="https://alquivago.vercel.app"
     tools={projectsList[3].tools}
      />
</section>