---
const { techs, title, date, description, link } = Astro.props
---
<article class="mx-auto h-max p-3 w-11/12 rounded-lg border-4 bg-santa-fe-500 shadow-lg border-mongoose-200 gap-2 flex flex-col text-center justify-around items-left hover:scale-105 transition">
  <h2 class="font-semibold text-xl mx-auto text-mongoose-50">{title}</h2>
  <span class="font-thin text-sm mx-auto text-mongoose-50">{date}</span>
  <p class="text-mongoose-50 text-center text-balance">{description}</p>
  <div class="flex justify-between">
    <aside class="flex gap-2 ml-2">
      {
        techs.map((tech:string) => (
          <img src={tech} alt={tech} class="w-7 h-7" />
        ))
      }
    </aside>
<aside>
  <a href={link} target="_blank" rel="noreferrer noopener"><img src="redirect.svg" alt="Redirect to the page" class="w-7 h-7 mr-1 hover:scale-110 transition">
  </a>
</aside>
  </div>
  </article>
